In [5]:
# name='vencesa'
# def function1(name):
#     for i in range(name):
#         if i=='s':
#             break
#         else:
#             print(i)
for i in range(1,20,2):
    print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [6]:

list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [1]:
# # Fix encoding issue by replacing problematic characters before generating the PDF content
# import unicodedata

# def clean_text(text):
#     return unicodedata.normalize("NFKD", text).encode("ascii", "ignore").decode("ascii")

# # Regenerate PDF content with cleaned text
# pdf = PDF()
# pdf.set_auto_page_break(auto=True, margin=15)
# pdf.add_page()

# # Add cleaned sections
# pdf.section_title("PROFESSIONAL SUMMARY")
# pdf.section_body(clean_text("""Detail-oriented and analytical professional with hands-on experience in data analytics, reporting, and operational support through virtual internships and academic projects. Proficient in advanced Excel, Python, data visualization tools, and cross-functional coordination. Adept at working in fast-paced environments with an entrepreneurial mindset and strong problem-solving abilities. Seeking to contribute to Mastercard’s Cardholder Services operations by ensuring process efficiency, reporting accuracy, and continuous improvement.
# """))

# pdf.section_title("EDUCATION")
# pdf.section_body(clean_text("""Bachelor of Engineering (B.E.) – Computer & Communication Engineering
# R.K.D.F. Institute of Science & Technology, 2016 – 2020
# CGPA: 8.00/10
# """))

# pdf.section_title("RELEVANT EXPERIENCE")
# pdf.section_body(clean_text("""Data Analytics Intern – Quantium (Virtual), Apr 2024 – Apr 2024
# - Completed job simulation focused on data analytics and commercial insights.
# - Utilized transaction datasets for data preparation and created actionable business recommendations.

# Data Science Virtual Intern – British Airways (Forage), Apr 2023 – Apr 2023
# - Built a predictive model to understand customer buying behavior.
# - Analyzed customer reviews to extract key insights improving service strategies.

# Data Visualization Intern – Tata Consultancy Services (Forage), Jan 2023 – Mar 2023
# - Created executive dashboards and visual reports to support strategic decisions.
# - Collaborated on presentation material for client leadership based on analytics.

# Data Science Intern – FlipRobo (Virtual), Mar 2021 – Sep 2021
# - Worked on projects like Boston house price and cancer prediction models.
# - Applied EDA, web scraping, and statistical modeling to real-world datasets.
# """))

# pdf.section_title("SKILLS")
# pdf.section_body(clean_text("""Tools & Languages: Excel (Advanced), Python, SQL, Tableau, Selenium, BeautifulSoup, Figma
# Business & Analytics: Data Visualization, Reporting, Data Science, EDA, Statistical Modeling
# Software Proficiency: MS Word (Intermediate), MS PowerPoint (Advanced)
# Soft Skills: Problem-solving, Attention to detail, Self-starter, Adaptability, Communication
# """))

# pdf.section_title("CERTIFICATIONS & TRAINING")
# pdf.section_body(clean_text("""Excel – Internshala Trainings (Apr 2023 – May 2023)
# General Aptitude – Internshala Trainings (Top Performer, Score: 94%)
# Data Science & Analytics Virtual Internships – British Airways, TATA, Quantium (2023–2024)
# """))

# pdf.section_title("PROJECTS & WORK SAMPLES")
# pdf.section_body(clean_text("GitHub Portfolio: github.com/sayaanfrah/EDA_solutions"))

# pdf.section_title("ADDITIONAL")
# pdf.section_body(clean_text("""Recognized for leadership and team contribution in sports, awarded by an Army officer at school-level championship.
# """))

# # Save the cleaned, ATS-friendly PDF
# final_output_path = "/mnt/data/Sayaan_Frah_Mastercard_Resume.pdf"
# pdf.output(final_output_path)

# final_output_path

In [2]:
print("Learing from Udemy Course")
print("We have Learned the print function that its written between 2 Paranthesis ()")
print(234+234)
print("If we use Oparators we can get result directly printed in the terminal")

Learing from Udemy Course
We have Learned the print function that its written between 2 Paranthesis ()
468
If we use Oparators we can get result directly printed in the terminal

In [18]:
print("Print the sum of first n natural numbers")
n=1000
def function1(n):
    return n*(n+1)/2
print(function1(n))
print("For 10 its 55")
print("for 100 its 5050")
print("For 1000 its 500500")
print("its the shortest way to calcualte the sum for first n natural numbers")

Print the sum of first n natural numbers
500500.0
For 10 its 55
for 100 its 5050
For 1000 its 500500
its the shortest way to calcualte the sum for first n natural numbers

In [21]:
import math
def function2(n):
    return math.factorial(n)

n=10
function2(n)

3628800

In [25]:
print("The end ?! \n","or is it","To learn more python program ",3)

The end ?!
 or is it To learn more python program  3

In [ ]:
# Learning Python Strings
print("Going to learn Python strings")
print("Today is a good day to learn Python")
print('Python is fun')
print("Python's string are easy to use")
print("Is it difficult to understand the concept of Python's ")

Going to learn Python strings
Today is a good day to learn Python
Python is fun
Python's string are easy to use
Is it difficult to understand the concept of Python""s

In [29]:
print('We can even include "quotes" in string')

We can even include "quotes" in string

In [30]:
#working with Operators
234*234

54756

In [39]:
print("Hello "+"World")
print("Hellow world")
greetings="Hello"
name=input("enter your name")
print(f"{greetings} {name} How are you?")
print(greetings+' '+name)

Hello World
Hellow world
Hello Hemlata How are you?
Hello Hemlata

In [40]:
splitString="This String \n has been split over \n several lines"
print(splitString)

This String
 has been split over
 several lines

In [41]:
Sentence="We are just \t goint to have some \t food in our basket\t can you bring it?"
print(Sentence)

We are just 	 goint to have some 	 food in our basket	 can you bring it?

In [2]:
#Now we will learn about tabbed String
tabbedString="1\t2\t3\t4\t5"
print(tabbedString)

1	2	3	4	5

In [3]:
Greetings="Welcome"
name=input("enter your name")
print(Greetings,name)

Welcome Sayaan

In [7]:
print("Learning \t about \t  tabbed String")

Learning 	 about 	  tabbed String

In [10]:
print('The pet owner said "No no he\'s very much tired so that\'s why can\'t talk".')
print("The pet owner said that 'No ,no, uhhhh...\n he\'s resting right now and can\'t talk right now '")

The pet owner said "No no he's very much tired so that's why can't talk".
The pet owner said that 'No ,no, uhhhh...
 he's resting right now and can't talk right now '

In [34]:
print("C: \\Users\\link_connect\\more.txt")
print(r"C:\Users\link_connect\nore.txt")

C: \Users\link_connect\more.txt
C:\Users\link_connect\nore.txt

In [35]:
print("C:\\Users\\timbuchalka\\notes.txt")
print(r"C:\Users\timbuchalka\notes.txt")

C:\Users\timbuchalka\notes.txt
C:\Users\timbuchalka\notes.txt

In [1]:
print("Understanding Variables and data types")

Understanding Variables and data types

In [6]:
#Now we will learn about Working with variables and datatypes
a=23
print(type(a),"A is an integer data type")
b="Name"
print(type(b),"B is a string data type")
c=234.234
print(type(c),"is a float datatype")

<class 'int'> A is an integer data type
<class 'str'> B is a string data type
<class 'float'> is a float datatype

In [ ]:
#Now  we will learn about typecasting in Python and its uses
a
d=float(a)
print(d)
"from the above the value of d is now a float value as we have typecasted to float"
print("NOw \t we will learn about \t indexing in python")
print("Hello World"[:5])
print('We are not going to loose'[11:])
print("")

23.0
NOw 	 we will learn about 	 indexing in python
Hello
going to loose

In [18]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException,NoAlertPresentException,NoSuchAttributeException,NoSuchElementException,ElementNotInteractableException,ElementNotVisibleException
driver=webdriver.Chrome(r"D://chromedriver-win64//chromedriver-win64//chromedriver.exe")

AttributeError: 'str' object has no attribute 'capabilities'

In [21]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service

# Corrected path to the ChromeDriver executable
chrome_driver_path = r"D:\\chromedriver-win64\\chromedriver.exe"

# Set up the Chrome driver service
service = Service(executable_path=chrome_driver_path)

# Initialize the WebDriver
driver = webdriver.chrome(service=service)

TypeError: 'module' object is not callable

In [1]:
#We will learn about 
#Oops 
#definig a function and calling a function

In [3]:
arr=[10,20,30,40,50,60,70]
key=30
if key in arr:
    print("Key Found")
else:
    print("Not found")

Key Found

In [5]:
print("Hello\\tworld")

Hello\tworld

In [8]:
print("C:\\new\\temp\\text.doc")

C:\new\temp\text.doc

In [2]:
print("Hello\nworld")

Hello
world

In [3]:
age2="hello"
age1=323
print(age1)

323

In [2]:
x=10
y=20
if x is y:
    print("same")
else:
    print("different")

different

In [4]:
name="Python"
year=2019
print("Name : ",name,"Year :", year)

Name :  Python Year : 2019

In [5]:
print(f"My name is {name} and i developed in {year}")

My name is Python and i developed in 2019

In [6]:
name="Ajay"
age=19
print("{1} is {0} years old".format(name,age))

19 is Ajay years old

In [7]:
a=int(input('enter first number'))
b=int(input("enter second number"))
print("sum = ",a+b)
print("sub = ",a-b)
print("mul = ",a*b)
print("div = ",a/b)

sum =  15
sub =  5
mul =  50
div =  2.0

In [9]:
n=10
m=50
n%m

10

In [1]:
#lets learn about the functions in python
2**10

1024

In [2]:
11/11

1.0

In [3]:
10**2

100

In [17]:
def test1():
    print("Hello Saniya Bangat")
    print("Shanu Shaitan")
    print("Badi bangat")
    print("Badki Shaitan")
    print("Choti Shaitan")
    print("Golu \t Molu bhalu")
test1()

Hello Saniya Bangat
Shanu Shaitan
Badi bangat
Badki Shaitan
Choti Shaitan
Golu 	 Molu bhalu

In [19]:

a = 10
b = 20
b = a + b

print("Sum = ", b)

Sum =  30

In [22]:
name,page_count,price="Python",124,42.33
print(page_count)

124

In [3]:
l=[12,24,45,456,657,3]
def list1(l):
    sum=0
    for x in l:
        sum+=x
    return sum

list(l)

[12, 24, 45, 456, 657, 3]

In [1]:
#we have created a list with 5 items 
l=[10,20,30,40,50]
l[-5:-2]

[10, 20, 30]

In [2]:
l[-3]

30

In [3]:
print(l.index(50))

4

In [5]:
print(l.index(40))

3

In [7]:
l=[]
for i in range(1,1001):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

In [1]:
num1=num2=num3=0
print(num1,num2,num3)

0 0 0

In [10]:
a=10
b=5
# a+=b
print(a**b)
print("a",a)
print("b=",b)
print("sum =",a)
print(a/b)

100000
a 10
b= 5
sum = 10
2.0

In [1]:
print(10<=100)

True

In [4]:
a=5
b=10
print(a==b)
print(a!=b)
print(a>b)
print(a>=b)
print(a<b)
print(a<=b)

False
True
False
False
True
True

In [14]:
a=5
b=10
ret=((a<=b) or (a!=b))
print("Return value for first expression is ",ret)

ret=((a<b) and (a==b))
print("return value for second expression is ",ret)

ret=not((a<b) and (a==b))
print("return value for 3 is ",ret)

Return value for first expression is  True
return value for second expression is  False
return value for 3 is  True

In [15]:
((a<b) and (a==b))

False

In [16]:
print(a|b)

15

In [17]:
a,b=10,5
print(a | b)

15

In [20]:
status=0
status= status | 2
status= status | 3
status= status | 4
status= status | 8

In [21]:
def sum(x,y):
    print(f"The sum is {x+y}")
def main():
    sum(70,70)
    print("the sum is ",sum)
if __name__=="__main__":
    main()

The sum is 140
the sum is  <function sum at 0x000001DCEA454CC0>

In [34]:
class car:
    def __init__(self,name,age,sports):
        print("Initialised the data")
        self.name=name
        self.age=age
        self.sports=sports
    def getdata(self,name,age,sports):
        print("Getting data from players")
        self.name=name
        self.age=age
        self.sports=sports
    def displaydata(self):
        print("The player details",self.name,self.age,self.sports)

def main():
    C=car("Mahindra",5,"Mahindra XUV-700(SUV)")
    C.displaydata()
if __name__=="__main__":
    main()

Initialised the data
The player details Mahindra 5 Mahindra XUV-700(SUV)

In [38]:
class car:
    def __init__(self,name,model,year_make,registration_city):
        print("Initializing the data")
        self.name=name
        self.model=model
        self.year_make=year_make
        self.registration_city=registration_city
    def getdata(self,name,model,year_make,registration_city):
        print("Getting the data")
        self.name=name
        self.model=model
        self.year_make=year_make
        self.registration_city=registration_city
    def displaydata(self):
        print("The details are ",self.name,self.model,self.year_make,self.registration_city)

def main():
    c=car("BMW","BMW I7",2023,"Gaya")
    c.displaydata()
if __name__=="__main__":
    main()

Initializing the data
The details are  BMW BMW I7 2023 Gaya

In [48]:
#learing about the list in python
l1=[] #empty list
l2=["A","b","C","D","E","F"]
l3=["Apple","Banana","CocoMelon","DragonFruit","Eggplant","Fig"]
l4=[1,2,3,4,5,6,7,8,9,10]
l5=["Apple","oranges",23423,34534.435,True,"A"]
print(f"This is an empty list \t {l1}")
print(f"This is a character list\t {l2}")
print(f"This is a string list \t {l3}")
print(f"This is a number list \t {l4}")
print(f"This is a mixed list \t {l5}")
print(f"We are going to Learn more about list Manupulation in python")

This is an empty list 	 []
This is a character list	 ['A', 'b', 'C', 'D', 'E', 'F']
This is a string list 	 ['Apple', 'Banana', 'CocoMelon', 'DragonFruit', 'Eggplant', 'Fig']
This is a number list 	 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
This is a mixed list 	 ['Apple', 'oranges', 23423, 34534.435, True, 'A']
We are going to Learn more about list Manupulation in python